

// VARIABLES-font color
$black:#323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$instock-blue: #004892;
$instock-blue-dark: #002f5f;

$brainflix-blue: #0095ff;
$brainflix-blue-dark: #0065ad;

$white: #fff;


// COMMON
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext', sans-serif;
    font-weight: 400;
}

.btn {
    @include font (14px, 20px, 'AvenirNext', 600); 
    background-color: $brainflix-blue;
    color: $white;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    padding: 13px;
}