
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';

// Side Video

.next {
    &--inner {
        width: 90%;
        margin: 0 auto;
        @include tablet {
            width: 94%;
        }
        @include desktop {
            width: 100%;
            margin-left: 24px;
        }
    }
    &__title {
        @include font (0.875rem, 1.25rem, 'AvenirNext', 600);
        color: $silver;
        margin: 40px 0;
    }
    &__video {
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: flex-start;
            width: 47%;
        }
        @include desktop {
            width: 95%;
        }
    }
    &__thumbnail {
        width: 120px;
        height: 70px;
        object-fit: cover;
        object-position: center;
        margin: 0 16px 24px 0;
        border-radius: 5px;
        @include desktop {
            margin-right: 12px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        height: 65px;
        width: 100%;
        @include tablet {
            height: 70px;
        }
        &-title {
            @include font (0.875rem, 1.25rem, 'AvenirNext', 600);
            margin: 0;
            width: 100%;
            overflow: hidden;
            text-overflow: clip ellipsis;
            @include tablet {
                @include font (16px, 1.25rem, 'AvenirNext', 600);
            }
        }
        &-channel {
            @include font (0.875rem, 1.25rem, 'AvenirNext', 300);
            margin: 3% 0 0;
        }
    }
}