
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';


// Main - page layout

.main {
    &--flexbox {
        @include desktop {
            display: flex;
            width: 89%;
            margin: 0 auto;
        }
    }
    &--left {
        @include desktop {
            width: 67%;
            margin-bottom: 1.5rem;
        }
    }
    &--right {
        @include desktop {
            width: 33%;
            border-left: 1px solid $mercury;
        }
    }
}