
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';


// Description

.description {
    margin-bottom: 40px;
    &--inner {
        width: 90%;
        margin: 0 auto;
        @include tablet {
            width: 94%;
        }
    }
    &__title {
        @include font (24px, 32px, 'AvenirNext', 700);
        margin: 32px 0 16px;
        @include tablet {
            @include font (36px, 44px, 'AvenirNext', 700);
            margin: 48px 0 24px;
        }
    }
    &--flexbox {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 24px;
        }
    }
    &__detail {
        display: flex;
        &-channel {
            @include font (16px, 1.25rem, 'AvenirNext', 600);
            margin: 0 8px 0 0;
        }
        &-date {
            @include font (0.875rem, 1.25rem, 'AvenirNext', 400);
            color: $silver;
            margin: 0;
        }
    }
    &__data {
        display: flex;
        margin: 32px 0 24px;
        @include tablet {
            width: auto;
            justify-content: space-between;
            margin: 0;
        }
        &-view,
        &-like {
            display: flex;
            width: 50%;
            @include tablet {
                width: auto;
                margin-left: 24px;
            }
        }
        &-icon {
            margin-right: 8px;
        }
        &-number {
            margin: 0;
            @include tablet {
                @include font (14px, 18px, 'AvenirNext', 400);
            }
        }
    }
    &__info {
        @include font (12px, 18px, 'AvenirNext', 400);
        color: $black;
        border-top: 1px solid $mercury;
        padding-top: 24px;
        margin: 0 0 40px;
        @include tablet {
            @include font (14px, 20px, 'AvenirNext', 400);
            width: 72%;
            margin-bottom: 64px;
        }
    }
}