
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';


// Description

.description {
    margin-bottom: 40px;
    &--inner {
        width: 90%;
        margin: 0 auto;
    }
    &__title {
        @include font (24px, 32px, 'AvenirNext', 700); 
    }
    &__detail {
        display: flex;
        &-channel {
            margin-right: 8px;
        }
        &-date {
            @include font (0.875rem, 1.25rem, 'AvenirNext', 400);
            color: $silver;
        }
    }
    &__data {
        display: flex;
        &-view {
            display: flex;
            width: 50%;
        }
        &-like {
            display: flex;
            width: 50%;
        }
        &-icon {
            margin-right: 8px;
        }
        &-number {

        }
    }
    &__info {
        @include font (0.875rem, 1.25rem, 'AvenirNext', 400);
        color: $black;
        border-top: 1px solid $mercury;
        padding-top: 24px;
    }
}