
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';


// HEADER

.header {
    &--inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &__logo {
        margin: 16px 0;
    }
    &__search-container {
        display: flex;
        border: 1px solid $silver;
        background-color: $alabaster;
        padding: 13px;
    }
    &__search-icon {
        margin-right: 10px;
    }
    &__search {
        border: none;
        color: $black;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $black;
        }
    }
    &__btn-container {
        display: flex;
        justify-content: space-between;
        margin: 8px 0 16px;
    }
    &__upload {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-icon {
            width: 18px;
            margin-right: 10px;
        }
        &-text {
            margin: 0;
        }
    }
    &__userImg {
        border-radius: 50%;
        object-fit: cover;
        object-position: 15% 50%;
        width: 48px;
        height: 48px;
    }
}