
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';


// UPLOAD

.upload {
    border-top: 1px solid $mercury;
    &--inner {
        width: 90%;
        margin: 0 auto;
        @include tablet {
            width: 94%;
            margin: 48px auto 40px;
        }
        @include desktop {
            width: 89%;
        }
    }
    &__title {
        margin: 24px 0 32px;
        @include tablet {
            @include font (2.25rem, 2.75rem, 'AvenirNext', 700);
        }
    }
    &__form {
        @include tablet {
            border-top: 1px solid $mercury;
            border-bottom: 1px solid $mercury;
            padding-top: 40px;
        }
        @include desktop {
            display: flex;
            align-items: flex-start;
        }
    }
    &__video {
        margin-bottom: 8px;
        @include tablet {
            width: 48%;
            margin-bottom: 16px;
        }
        @include desktop {
            width: 32%;
            margin-right: 24px;
        }
        &-label {
            @include font (0.875rem, 1.5rem, 'AvenirNext', 600);
            color: $silver;
        }
        &-image {
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
            object-position: center;
            @include desktop {
                min-height: 187px;
            }
        }
    }
    &--right {
        @include desktop {
            width: 68%;
            min-height: 287px
        }
    }
    &__name {
        display: flex;
        flex-direction: column;
    }
    &__description {
        display: flex;
        flex-direction: column;
        @include tablet {
            padding-bottom: 40px;
        }
    }
    &__label {
        @include font (0.875rem, 1.5rem, 'AvenirNext', 600);
        color: $silver;
        margin-top:24px;
        @include desktop {
            margin: 0;
        }
    }
    &__input {
        border: 1px solid $mercury;
        border-radius: 4px;
        padding: 14px;
        background-color: $alabaster;
        @include desktop {
            margin-bottom:24px;
        }
        &:focus {
            border: 2px solid $brainflix-blue;                
            outline: none;             
        }
        &::placeholder {
            @include font (0.875rem, 1.375rem, 'AvenirNext', 400);
            color: $black;
            @include tablet {
                @include font (0.938rem, 1.563rem, 'AvenirNext', 400); 
            }
        }
        &-description {
            height: 143px;
            resize: none;
            @include tablet {
                height: 110px;
                margin-bottom:0;
            }
            @include desktop {
                height: 5vw;
                // min-height: 66px;
                // max-height: 100px
            }
        }
    }
    &__button {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        @include tablet {
            flex-direction: row-reverse;
            margin: 40px 0 160px;
        }
        button {
            padding: 14px;
            @include tablet {
                width: 160px;
            }
        }
    }
}