
// IMPORTS

@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/variable';


// Main - page layout

.main {
    &--flexbox {
        display: flex;
        width: 89%;
        margin: 0 auto;
    }
    &--left {
        width: 67%;
        margin-bottom: 24px;
    }
    &--right {
        width: 33%;
        border-left: 1px solid $mercury;
    }
}